In [1]:
import numpy as np
import pandas as pd
from sklearn import metrics

In [3]:
df=pd.read_csv(r"/Users/macbook/Downloads/PlayTennis1 - Sheet1.csv")
value=['Outlook','Temperature','Humidity','Windy']
df

     Outlook Temperature Humidity  Windy Play_Tennis
0      Sunny         Hot     High  False          No
1      Sunny         Hot     High   True          No
2   Overcast         Hot     High  False         Yes
3      Rainy        Mild     High  False         Yes
4      Rainy        Cool   Normal  False         Yes
5      Rainy        Cool   Normal   True          No
6   Overcast        Cool   Normal   True         Yes
7      Sunny        Mild     High  False          No
8      Sunny        Cool   Normal  False         Yes
9      Rainy        Mild   Normal  False         Yes
10     Sunny        Mild   Normal   True         Yes
11  Overcast        Mild     High   True         Yes
12  Overcast         Hot   Normal  False         Yes
13     Rainy        Mild     High   True          No

In [5]:
len(df)

14

In [7]:
df.shape

(14, 5)

In [9]:
df.head()

    Outlook Temperature Humidity  Windy Play_Tennis
0     Sunny         Hot     High  False          No
1     Sunny         Hot     High   True          No
2  Overcast         Hot     High  False         Yes
3     Rainy        Mild     High  False         Yes
4     Rainy        Cool   Normal  False         Yes

In [11]:
df.tail()

     Outlook Temperature Humidity  Windy Play_Tennis
9      Rainy        Mild   Normal  False         Yes
10     Sunny        Mild   Normal   True         Yes
11  Overcast        Mild     High   True         Yes
12  Overcast         Hot   Normal  False         Yes
13     Rainy        Mild     High   True          No

In [13]:
df.describe()

       Outlook Temperature Humidity  Windy Play_Tennis
count       14          14       14     14          14
unique       3           3        2      2           2
top      Sunny        Mild     High  False         Yes
freq         5           6        7      8           9

In [15]:
from sklearn import preprocessing
string_to_int=preprocessing.LabelEncoder()
df=df.apply(string_to_int.fit_transform)
df

    Outlook  Temperature  Humidity  Windy  Play_Tennis
0         2            1         0      0            0
1         2            1         0      1            0
2         0            1         0      0            1
3         1            2         0      0            1
4         1            0         1      0            1
5         1            0         1      1            0
6         0            0         1      1            1
7         2            2         0      0            0
8         2            0         1      0            1
9         1            2         1      0            1
10        2            2         1      1            1
11        0            2         0      1            1
12        0            1         1      0            1
13        1            2         0      1            0

In [17]:
feature_cols=['Outlook','Temperature','Humidity','Windy']
x=df[feature_cols]
y=df.Play_Tennis

In [19]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30)

In [21]:
from sklearn.tree import DecisionTreeClassifier
classifier=DecisionTreeClassifier(criterion="entropy", random_state=100)
classifier.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy', random_state=100)

In [23]:
y_pred=classifier.predict(x_test)

In [25]:
from sklearn.metrics import accuracy_score
print("Accuracy: ", metrics.accuracy_score(y_test,y_pred))

Accuracy:  0.6

In [27]:
data_p=pd.DataFrame({'Actual': y_test,'Predicted': y_pred})
data_p

    Actual  Predicted
8        1          0
9        1          1
0        0          0
1        0          1
12       1          1

In [31]:
from sklearn.metrics import classification_report, confusion_matrix
print("Confusion Matrix")
print(confusion_matrix(y_test,y_pred))
print("Classification Report")
print(classification_report(y_test,y_pred))

Confusion Matrix
[[1 1]
 [1 2]]
Classification Report
              precision    recall  f1-score   support

           0       0.50      0.50      0.50         2
           1       0.67      0.67      0.67         3

    accuracy                           0.60         5
   macro avg       0.58      0.58      0.58         5
weighted avg       0.60      0.60      0.60         5